@import "../../../assets/styles/_variables";

.button {
  border-radius: 4px;
  padding: 7px 0;
  width: 160px;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;

  font-family: $font;
  font-size: 16px;
  color: #FFF;

  &+.button {
    margin-left: 30px;
  }

  &.warning {
    background-color: $btn-warning;
    &:hover {
      background-color: darken($btn-warning, 4%);
    }
  }
  &.error {
    background-color: $btn-error;
    &:hover {
      background-color: darken( $btn-error, 4%);
    }
  }
  &.success {
    background-color: $btn-success;
    &:hover {
      background-color: darken($btn-success, 4%);
    }
  }
}
