@import "../../../assets/styles/_variables";

.button {
  border-radius: 4px;
  padding: 7px 0;
  width: 160px;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;

  font-family: $font;
  font-size: 16px;
  color: #FFF;


  &.warning {
    background-color: #FFB800;
    &:hover {
      background-color: #e2a300;
    }
  }
}
