@import "../../../assets/styles/_variables";


.table {
  width: 100%;
  max-width: 100%;
  th {
    cursor: pointer;
    color: $text-grey;
    font-family: $font;
    font-size: 16px;
    line-height: 19px;
    opacity: 0.8;

    .active, &:not(.unsortable):hover{
      color: $black;
      position: relative;
      &.desc:before, &.asc:before{
        content: " ";
        background: url(assets/orderIcon.svg) no-repeat center;
        position: absolute;
        width: 15px;
        height: 19px;
        left: -20px;
      }
      &.desc:before {
        transform: rotate(0deg);
        transition: transform 0.3s;
      }
      &.asc:before {
        transform: rotate(180deg);
        transition: transform 0.3s;
      }
    }

    &.unsortable {
      cursor: auto;
    }
  }
  td, th {
    text-align: left;
    padding: 15px 0;
    border-bottom: 1px solid $border-grey;
  }
  td {
    font-size: 14px;
  }
  td:first-child, th:first-child {
    padding-left: $big-padding;

    @media (max-width: 700px) {
      padding-left: 0;
    }
  }
  .control {
    font-size: 14px;
    line-height: 16px;
    color: #0258FF;
    opacity: 0.8;

    &+.control {
      margin-left: 60px;
      @media (max-width: 700px) {
        margin-left: 20px;
      }
    }
  }
}

@media screen and (max-width: 550px) {

  .table thead {
    display: none;
  }

  .table tr {
    margin: 0 10px;
    display: block;
    border-bottom: 2px solid #ddd;
  }

  .table td {
    display: block;
    text-align: right;
    font-size: 13px;
  }

  .table td:last-child {
    border-bottom: 0;
  }

  .table td:before {
    content: attr(data-label);
    float: left;
    color: $text-grey;
    font-family: $font;
    font-size: 16px;
    line-height: 19px;
    opacity: 0.8;
  }
}
