@import "../../../assets/styles/_variables";


.table {
  width: 100%;
  th {
    cursor: pointer;
    color: $text-grey;
    font-family: $font;
    font-size: 16px;
    line-height: 19px;
    opacity: 0.8;

    .active, &:not(.unsortable):hover{
      color: $black;
      position: relative;
      &.desc:before, &.asc:before{
        content: " ";
        background: url(assets/orderIcon.svg) no-repeat center;
        position: absolute;
        width: 15px;
        height: 19px;
        left: -20px;
      }
      &.desc:before {
        transform: rotate(0deg);
        transition: transform 0.3s;
      }
      &.asc:before {
        transform: rotate(180deg);
        transition: transform 0.3s;
      }
    }

    &.unsortable {
      cursor: auto;
    }
  }
  td, th {
    text-align: left;
    padding: 15px 0;
    border-bottom: 1px solid $border-grey;
  }
  td {
    font-size: 14px;
  }
  td:first-child, th:first-child {
    padding-left: 70px;
  }
}
