@import "../../assets/styles/_variables";

.login {
  background: $white;
  box-shadow: 0px 20px 20px rgba(40, 40, 40, 0.05);
  border-radius: 10px;
  padding: 25px;
  h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    font-size: 22px;
    line-height: 26px;
    color: $black;
  }
  button {
    margin-top: 15px;
  }
}

.link {
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  text-decoration-line: underline;
  color: $blue;

  display: inline-block;
  margin-top: 15px;

  &:hover{
    text-decoration: none;
  }
}

