@import './assets/styles/_variables';

body {
  margin: 0;
  background-color: $background-color;
  font-family: $font;
}
.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: $background-color;
}




