@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
$background-color: #E5E5E5;
$border-grey: #E0E0E0;
$border-darkgrey: #8e8e8e;
$error-color: #f76262;
$text-grey: #828282;
$blue: #0258FF;
$black: #000000;
$white: #FFFFFF;
$link-color: #2F80ED;

$big-padding: 70px;
$mobile-big-padding: 20px;


$font: Roboto, sans-serif;





