@import "./_variables";

.topMenu {
  padding: 0 $big-padding;
  display: flex;
  margin-bottom: 20px;

  &.right {
    justify-content: flex-end;
    @media (max-width: 500px) {
      justify-content: center;
    }
  }
}
.headerTitle{
  font-size: 16px;
  line-height: 25px;
  color: $black;
  opacity: 0.8;
  background-color: #f7f7f7;
  border-top: 1px solid #dddede;
  border-bottom: 1px solid #dddede;
  padding: 20px $big-padding 10px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  @media (max-width: 500px) {
    padding: 20px $mobile-big-padding 10px;
  }

  h4 {
    display: inline-block;
    margin: 0;
  }
  .add{
    margin-left: 30px;
    @media (max-width: 350px) {
      margin-left: 2px;
    }
  }
}

.mainProperty{
  padding: 0 $big-padding;
  @media (max-width: 600px) {
    padding: 0 15px;
  }
}

.inputGroup {
  padding-left: $big-padding;
  @media (max-width: 500px) {
    padding-left: $mobile-big-padding;
  }
}

.labelText {
  font-size: 14px;
  line-height: 16px;
  color:  $black;
  opacity: 0.8;
  margin-bottom: 10px;
  display: inline-block;
  font-weight: normal;
}

.star:after{
  content: "*";
  color: $error-color;
}

.add, .remove {
  width: 25px;
  height: 25px;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #0258FF;
  border: 1px solid #0258FF;
  box-sizing: border-box;
  background: #FFFFFF;
  border-radius: 100%;
  cursor: pointer;
}

.propertiesBox {
  display: flex;
  flex-direction: column;
  padding: 0 $big-padding;

  @media (max-width: 600px) {
    padding: 0 15px;
  }

  .propertiesField {
    display: flex;
    position: relative;

    > div + div {
      margin-left: 30px;
    }
    @media (max-width: 900px) {
      flex-wrap: wrap;

      > div {
        flex-basis: 100%;
      }
      > div + div {
        margin-left: 0;
      }
    }

    @media (max-width: 600px) {
       .remove + div>label {
         margin-left: 35px;
       }
    }


  }
  .remove{
    left: -40px;
    top: -7px;
    position: absolute;
    width: 25px;
    height: 25px;

    @media (max-width: 600px) {
      left: 0;
    }
  }
}


.selectValues{
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  padding: 10px 0 10px 350px;
  margin-bottom: 15px;
  .valuesField {
    position: relative;
    display: flex;
    align-items: center;

    .remove {
     position: initial;
      margin-left: 30px;

      @media (max-width: 600px) {
        position: absolute;
        left: initial;
        right: 5px;
        top: 13px;
      }
    }
  }
  @media (max-width: 900px) {
    padding-left: 0;
  }
}
